@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Wisej Integration Sample</h1>
	<p class="lead">Log in using the credentials</br>- Email: aaa@bbb.ccc</br>- Password: Password_1234</br>or register as a new user.</p>
	<div class="col-md-12">
		<p><a href="/wisej" class="btn btn-primary btn-lg">Wisej Page &raquo;</a></p>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h2>Integration details</h2>
		<p>
			The Wisej application is integrated into an ASP.NET aplication in order to use ASP.NET Authentication (ClaimsIdentity).</br>
			Several instances of the Wisej application or sub-applications may be running on other tabs, but they all will be notified of changes to the "IsAuthenticated" status.
		</p>
	</div>
</div>